In [1]:
import pandas as pd

In [4]:
dataset=pd.read_csv('/home/jiayi/5moU/data/DL_fromTombo/all_tombo.csv')
dataset

,indx,kmer,mean_1,mean_2,mean_3,mean_4,mean_5,std_1,std_2,std_3,...,mdintense_2,mdintense_3,mdintense_4,mdintense_5,L-1,L-2,L-3,L-4,L-5,label
0,20,CATCT,-0.261382,-0.290529,-0.375176,-0.548695,-0.420694,0.034490,0.048193,0.075762,...,-0.302072,-0.405521,-0.548282,-0.413797,6,19,12,50,6,1
1,22,TCTTC,-0.375176,-0.548695,-0.420694,-0.102165,0.324141,0.075762,0.072908,0.065934,...,-0.548282,-0.413797,-0.103449,0.339314,12,50,6,29,12,1
2,23,CTTCG,-0.548695,-0.420694,-0.102165,0.324141,0.612248,0.072908,0.065934,0.077537,...,-0.413797,-0.103449,0.339314,0.643455,50,6,29,12,24,1
3,35,CGTGG,-0.134270,0.017096,0.317245,0.286391,0.191036,0.240493,0.116132,0.178935,...,0.000000,0.318624,0.264830,0.208968,29,38,6,19,6,1
4,44,CCTGC,-1.068734,-0.164691,0.164829,0.237456,-0.655237,0.200275,0.057011,0.052036,...,-0.165519,0.161381,0.240002,-0.657938,131,35,18,39,72,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1822819,350,GCTGG,0.160716,0.201952,0.291149,0.341133,0.261907,0.102909,0.062878,0.118291,...,0.194064,0.291096,0.343161,0.269796,22,6,980,14,6,0
1822820,365,GATCC,0.713934,0.005522,-0.667390,-0.689873,-0.575091,0.217518,0.459278,0.056848,...,0.030766,-0.688690,-0.655557,-0.570358,6,6,6,16,6,0
1822821,374,GATCC,0.404221,0.204545,-0.725696,-0.713145,0.062983,0.418295,0.532178,0.098837,...,0.508826,-0.731289,-0.707623,0.059166,10,7,2203,6,625,0
1822822,377,CCTGA,-0.713145,0.062983,0.264506,0.270585,0.073087,0.044437,0.174422,0.070813,...,0.059166,0.243763,0.250863,0.134898,6,625,34,6,17,0
1822823,380,GATCA,0.270585,0.073087,-0.577806,-0.538803,0.255019,0.056049,0.242040,0.213394,...,0.134898,-0.627157,-0.579825,0.257963,6,17,211,6,82,0

In [3]:
all_0=pd.read_csv('/home/jiayi/5moU/data/DL_fromTombo/mid_tombo.csv')
all_0

,indx,kmer,mean_middle,std_middle,mdintense_middle,length2_middle,label
0,20,CATCT,-0.375176,0.075762,-0.405521,12,1
1,22,TCTTC,-0.420694,0.065934,-0.413797,6,1
2,23,CTTCG,-0.102165,0.077537,-0.103449,29,1
3,35,CGTGG,0.317245,0.178935,0.318624,6,1
4,44,CCTGC,0.164829,0.052036,0.161381,18,1
...,...,...,...,...,...,...,...
1822819,350,GCTGG,0.291149,0.118291,0.291096,980,0
1822820,365,GATCC,-0.667390,0.056848,-0.688690,6,0
1822821,374,GATCC,-0.725696,0.098837,-0.731289,2203,0
1822822,377,CCTGA,0.264506,0.070813,0.243763,34,0
1822823,380,GATCA,-0.577806,0.213394,-0.627157,211,0

In [5]:
all_01=pd.DataFrame()
all_01['indx']=dataset['indx']
all_01['kmer']=dataset['kmer']
all_01['mean_2']=dataset['mean_2']
all_01['mean_3']=dataset['mean_3']
all_01['mean_4']=dataset['mean_4']

all_01['std_2']=dataset['std_2']
all_01['std_3']=dataset['std_3']
all_01['std_4']=dataset['std_4']


all_01['mdintense_2']=dataset['mdintense_2']
all_01['mdintense_3']=dataset['mdintense_3']
all_01['mdintense_4']=dataset['mdintense_4']

all_01['length2_2']=dataset['L-2']
all_01['length2_3']=dataset['L-3']
all_01['length2_4']=dataset['L-4']
all_01['label']=dataset['label']
all_01

,indx,kmer,mean_2,mean_3,mean_4,std_2,std_3,std_4,mdintense_2,mdintense_3,mdintense_4,length2_2,length2_3,length2_4,label
0,20,CATCT,-0.290529,-0.375176,-0.548695,0.048193,0.075762,0.072908,-0.302072,-0.405521,-0.548282,19,12,50,1
1,22,TCTTC,-0.548695,-0.420694,-0.102165,0.072908,0.065934,0.077537,-0.548282,-0.413797,-0.103449,50,6,29,1
2,23,CTTCG,-0.420694,-0.102165,0.324141,0.065934,0.077537,0.104688,-0.413797,-0.103449,0.339314,6,29,12,1
3,35,CGTGG,0.017096,0.317245,0.286391,0.116132,0.178935,0.119611,0.000000,0.318624,0.264830,38,6,19,1
4,44,CCTGC,-0.164691,0.164829,0.237456,0.057011,0.052036,0.140718,-0.165519,0.161381,0.240002,35,18,39,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1822819,350,GCTGG,0.201952,0.291149,0.341133,0.062878,0.118291,0.078792,0.194064,0.291096,0.343161,6,980,14,0
1822820,365,GATCC,0.005522,-0.667390,-0.689873,0.459278,0.056848,0.114145,0.030766,-0.688690,-0.655557,6,6,16,0
1822821,374,GATCC,0.204545,-0.725696,-0.713145,0.532178,0.098837,0.044437,0.508826,-0.731289,-0.707623,7,2203,6,0
1822822,377,CCTGA,0.062983,0.264506,0.270585,0.174422,0.070813,0.056049,0.059166,0.243763,0.250863,625,34,6,0
1822823,380,GATCA,0.073087,-0.577806,-0.538803,0.242040,0.213394,0.097910,0.134898,-0.627157,-0.579825,17,211,6,0

In [6]:
all_01.to_csv('/home/jiayi/5moU/data/DL_fromTombo/all_01.csv',index=False)